{% load staticfiles %}
<html>
    <head>
        <title>Cloud services</title>
        <link rel="stylesheet" href="{% static "css/CS.css" %}">
    </head>
    <body>
	<form class="form-4">
	    <h1>Login form</h1>
	    <p>
	        <label for="login">Email</label>
	        <input type="text" name="{{email}}" placeholder="Email" required="">
	    </p>
	    <p>
		<label for="password">Password</label>
	        <input type="password" name="{{password}}" placeholder="Пароль" required=""> 
	    </p>
		    <p>
	        <input type="submit" name="submit" value="Log in">
	    </p>       
	</form>
    </body>
</html>

