{% load staticfiles %}
<html>
    <head>
        <title>Cloud services</title>
        <link rel="stylesheet" href="{% static "css/CS.css" %}">
    </head>
    <body>
	<div class="header">
	</div>
        <form action="/connect/" method="connect" class="connect-form">
    	Enter your name:
        <br><input type="text" placeholder="{{name}}" name="name" style="margin-bottom: 10px">
        <br>Enter your surname:
        <br><input type="text" placeholder="{{surname}}" name="surname" style="margin-bottom: 10px">
        <br>Enter your e-mail:
        <br><input type="text" placeholder="{{email}}" name="email" style="margin-bottom: 10px">
        <br>Choose the service:
        <br><select name="service" style="margin-bottom: 10px">
        {% for i in services %}
        <option>{{i.ServiceName}}</option>
        {% endfor %}
        </select>
        <br>Enter IP-address for connecting:
        <br><input type="text" placeholder="{{ip_address}}" name="ip_address" style="margin-bottom: 10px">
        <br><input type="submit" value="Connect">
        </form>
    </body>
</html>
