{% extends "base1.html" %}
{% load staticfiles %}

{% block menu %}
   <li><a href="{% url "index" %}">About project</a></li>
   <li><a href="{% url "services" %}">Services</a></li>
   <li><a href="{% url "control" %}" class="active">Control</a></li>
   <li><a href="/auth/logout/">Log out {{ username }}</a></li>
{% endblock menu %}

{% block content %}
    <main class="main">
      <div class="services">
        <div class="container">
          <h2 class="title">Control</h2>
          <div class="services__list">
            <div class="services-card">
               <h2 class="services-card__title">ESXi host 94.154.84.190</h2>
               <p class="services-card__text">Get list of port groups:</p>
               <p class="services-card__text">
                  <form action="/portgroups/" method="portgroups">
                  <input type="submit" value="Port groups" class="btn popup__btn" style="width: 20%; margin-top: 0px; margin-bottom: 15px;">
                  </form>
               </p>
               <p class="services-card__text">Get list of virtual machines:</p>
               <p class="services-card__text">
                  <form action="/virtmachines/" method="virtmachines">
                  <input type="submit" value="Virtual machines" class="btn popup__btn" style="width: 20%; margin-top: 0px; margin-bottom: 15px;">
               </p>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock content %}

